form {
		
}

.container {
	padding-top: 7%;
}

.form {
	padding-top: 5%;
}

.top {
	padding-bottom: 3%;
}

.cont {
	margin-right: 15%;
}

.logInBtn {
	margin-top: 1%;
	margin-left: 74%;
}

.signInBtn {
	margin-top: 1%;
	margin-left: 81%;
}

.titleUser {
	margin-left: 3%;
}

.info {
	margin-right: 2%;
}

.sectionUser {
	margin-top: 3%;
}

.paragraph {
	font-size: 120%;
	margin-left: 7%;
}

.inside {
	margin-bottom: 5%;
}

.order {
	font-size: 120%;
	margin-left: 4%; 
	padding-top: 0.5%;
}

.btn {
	margin-left: 7%; 
}

.btn-space {
	margin-top: 1%;
}