.nav-align {
	padding-left: 5%;
}

.nav-divide {
	display: flex;
	flex-direction: row;
	margin-top: 3%;
	margin-left: 55%;
}

#navbar {
	background-color: #0076A4; /* Black background color */
	position: fixed; /* Make it stick/fixed */
	top: 0; /* Stay on top */
	width: 100%; /* Full width */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 2.1%;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

.nav-btn {
	margin: 0%;
	margin-left: 3%;
}

.nav-input {
	margin: 0%;
}