header {
	padding: 2%;
	font-family: Helvetica;
	background-color: #00B8FF;
	color: white;
	font-weight: bold;
	font-size: 100%;
}

h1 {
	text-align: center;
	padding-top: 46%;
	padding-bottom: 1.5%;
	background-repeat: no-repeat;
	background: url("https://miro.medium.com/max/4242/1*8FNmOQytmTPDUFpMuQBcyw.jpeg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

footer {
	margin: 40%;
}

.row-paragraph {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

.btn {
	margin-top: 2%;
	margin-left: 79%;
	background-color: green;
}

.benefits {
	margin-top: 3%; 
	color: white;
	padding: 5%;
	background-color: #3D8C2A;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.art {
	width: 200px;
	height: 150px;
}