.categories {
	padding-top: 10%;
}

.rowFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*padding-top: 0.5%;*/
	padding-bottom: 2%;
	/*text-align: center;*/
}

.colFlex:hover {
	cursor: pointer;
}

.discoverTitle {
	padding-left: 2%;
	padding-bottom: 1%;
}

.sectionImage {
	width: 280px;
	height: 200px;
}

.subTitle {
	padding-top: 1%;
	padding-left: 0.5%;
	text-align: center;
	font-weight: bold;
}

.line {
	margin-bottom: 2%;
}

.category {
	margin-top: 10%;
	margin-left: 1%;
}

.back {
	margin-bottom: 1%;
	margin-left: 3.3%;
}

.selectedTitle {
	margin-bottom: 1%;
}

.subInfo {
	margin-top: -3%;
}

.price {
	color: #E9DF32;
	font-weight: bold;
	font-size: 105%;
}

.location {
	margin-top: -5%;
}

.productDetail {
	margin-top: 10%;
	margin-left: 1%;
}