* {
	margin: 0;
}

.space {
	margin-bottom: 5%;
}

.searchTitle {
	margin-left: 7%;
	margin-top: 9%;
}


.search-space {
	margin: 10%;
}

.searches-title {
	margin-top: 7%;
	margin-left: 6%;
}

.searches-container {
	display: flex;
	margin-left: 7%;
	margin-top: 5%; 
	cursor: pointer;
}

.searches-image {
	width: 20%;
}

.searches-image-size {
	width: 100%; 
	height: auto;
}

.searches-info {
	width: 100%;
	margin-left: 10%;
	padding-right: 10%;
}

.search-info-sub {
	font-size: 110%;
	margin-bottom: 1%;
	margin-left: -2%;
}

.search-info-buttons {
	padding-top: 1%;
}

.btn {
	margin-right: 3%;
}

.searches-btn-back {
	margin-top: 2%;
	margin-left: 6%;
}

.searches-image-size {
	object-fit: cover;
	width: 250px; 
	height: 210px;
}

* {
	margin: 0%;
}

.backCategory {
	margin-bottom: 1%;
	margin-left: 3.3%;
}

.searchImage {
	object-fit: cover;
	width: 600px; 
	height: 500px;
}

.divitionSearch {
	display: flex;
}

.rightSearch {
	margin-right: 2%;
}

.descriptionSearch {
	padding-top: 2%;
}

.split {
	display: flex;
	justify-content: space-between;
	font-size: 110%;
	margin-top: 5%;
}

.priceSearch {
	margin-left: 5%;
}

.characteristicsSearch {
	margin-right: 15%;
}

.otherPrice {
	color: red;
	font-weight: bold;
}

.bestPrice {
	color: green;
	font-weight: bold;
}

.difference {
	color: #E9DF32;
	font-weight: bold;
}

.send {
	font-weight: bold;
}

.charSearch {
	font-weight: bold;
}

.btn-warning {
	color: white;
}

.buttonsSearch {
	padding-top: 10%;
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
}

.titleSearch {
	padding-top: 5%;
	padding-left: 5%;
	font-size: 120%;
}

.identSearch {
	font-size: 110%;
	padding-top: 1%;
	padding-left: 8%;
}

.boughtProduct {
	margin: 10%;
	text-align: center;
}

.SearchGetHeader {
	margin-top: 15%;
	text-align: center;
}

.SearchGetParagraph {
	margin-top: 2%;
	text-align: center;
	font-size: 120%;
}

.SearchGetReturnBtnDiv {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
}

.SearchGet-btn {
	margin-top: 1%;
}

.SearchGetFormsContainer {
	display: flex;
	justify-content: space-around;
}

.SearchGetFormsLabel {
	text-align: left;
}

.SearchGetFormsMap {
	margin-top: 3%;
}

#SearchGetScheduleDay {
	margin-bottom: 40%;
	/*margin-top: 10%;*/
}

#SearchGetFormsLabelDay {
	margin-top: 15%;
}

.SearchGetFormsMapLabel {
	font-weight: bold;
}

.SearchGetFormsLabel {
	font-weight: bold;
}

.SearchGetFormsButton {
	margin-top: 27%;
}

.SearchGetChat {
	margin-top: 5%;
}

.SearchGetChatTitle {
	text-align: left;
	margin-left: 6%;
	margin-bottom: 1%;
}

.SearchGetChatParagraph {
	text-align: left;
	margin-left: 6%;
	margin-bottom: 1%;
}

.btn-top {
	margin-top: 5%;
	margin-left: 3.5%;
}

.leftSearch {
	margin-left: 2%;
	margin-right: 2%;
}

.divition-all {
	margin-top: 10%;
}