header {
	padding: 2%;
	font-family: Helvetica;
	background-color: #00B8FF;
	color: white;
	font-weight: bold;
	font-size: 110%;
}

h1 {
	text-align: center;
	padding-top: 46%;
	padding-bottom: 1.5%;
	background-repeat: no-repeat;
	background: url("https://miro.medium.com/max/4242/1*8FNmOQytmTPDUFpMuQBcyw.jpeg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

footer {
	margin: 40%;
}

p {
	margin-left: 3.6%;
	font-size: 125%;
}

.row-paragraph {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

.btn {
	margin-top: 2%;
	margin-left: 79%;
	background-color: green;
}

.benefits {
	margin-top: 3%; 
	color: white;
	padding: 5%;
	background-color: #3D8C2A;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.art {
	width: 200px;
	height: 150px;
}

.home-category {
	margin-top: 1%; 
	padding-top: 2%;
	padding-bottom: 3%;
}

.home-category-title {
	margin-left: 10%;
}

.home-category-division {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}

.home-product-image {
	object-fit: cover;
	width: 250px; 
	height: 210px;
	cursor: pointer;
}

.home-general-title {
	background-color: #3D8C2A;
	color: white;
	margin-top: 5%;
	text-align: center;
	padding-top: 5%; 
	padding-bottom: 5%; 
}

.home-bottom {
	margin-bottom: 6%;
}